In [1]:
import pandas as pd

# Impianto 4

In [3]:
df = pd.read_csv('data\input\Impianto_4_clean_emd.csv',
                 index_col=0,
                 parse_dates=True,
                 comment='#')

df.describe().T

,count,mean,std,min,25%,50%,75%,max
Potenza,105120.0,0.552831,0.111579,0.146811,0.485335,0.593466,0.634796,0.766218
Potenza25kW,105120.0,18.037663,3.640581,4.790120,15.835416,19.363471,20.712002,25.000000
IMF1,105120.0,0.000350,0.011249,-0.152874,-0.004988,0.000230,0.005353,0.170920
IMF2,105120.0,0.000392,0.012289,-0.133578,-0.005325,0.000136,0.006104,0.109110
IMF3,105120.0,0.000677,0.016825,-0.153589,-0.007297,0.000300,0.008297,0.124836
IMF4,105120.0,-0.000979,0.026886,-0.161295,-0.009358,-0.000134,0.008862,0.146228
IMF5,105120.0,-0.001621,0.036767,-0.172895,-0.018329,-0.000504,0.016143,0.192355
IMF6,105120.0,0.005194,0.062141,-0.182514,-0.030309,0.001452,0.035559,0.269076
IMF7,105120.0,-0.002806,0.056542,-0.137575,-0.050931,-0.004219,0.045700,0.125553
IMF8,105120.0,-0.000218,0.014810,-0.046700,-0.009618,-0.000238,0.009157,0.036865
IMF9,105120.0,-0.000107,0.014000,-0.034662,-0.009795,-0.000090,0.008516,0.041664
IMF10,105120.0,0.004450,0.023570,-0.046212,-0.011086,0.002189,0.015371,0.072364
IMF11,105120.0,0.000500,0.005318,-0.010148,-0.003942,0.000551,0.003411,0.011067
IMF12,105120.0,0.546999,0.039859,0.463738,0.524365,0.567713,0.574656,0.584159

In [4]:
dfmax = df.resample('1d').max()
df.loc[dfmax.index,'PotenzaDailyPeak'] = dfmax.Potenza.values

dfmaxhour = df.resample('1d').apply(lambda x: x['Potenza'].idxmax().hour)
df.loc[dfmaxhour.index,'PotenzaDailyPeakHour'] = dfmaxhour.values

df = df.ffill()

df.PotenzaDailyPeakHour = df.PotenzaDailyPeakHour.astype(int)

df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 105120 entries, 2017-01-01 00:00:00 to 2019-12-31 23:45:00
Data columns (total 16 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   Potenza               105120 non-null  float64
 1   Potenza25kW           105120 non-null  float64
 2   IMF1                  105120 non-null  float64
 3   IMF2                  105120 non-null  float64
 4   IMF3                  105120 non-null  float64
 5   IMF4                  105120 non-null  float64
 6   IMF5                  105120 non-null  float64
 7   IMF6                  105120 non-null  float64
 8   IMF7                  105120 non-null  float64
 9   IMF8                  105120 non-null  float64
 10  IMF9                  105120 non-null  float64
 11  IMF10                 105120 non-null  float64
 12  IMF11                 105120 non-null  float64
 13  IMF12                 105120 non-null  float64
 14  PotenzaDailyPeak      105120 non-null  float64
 15  PotenzaDailyPeakHour  105120 non-null  int32
dtypes: float64(15), int32(1)
memory usage: 17.3 MB

In [ ]:
#df.to_csv('data/input/Impianto_4_clean_emd_peaks.csv')

# ZEH

In [ ]:
df = pd.read_csv('data/input/HabitatZEH_60min_2016-2019.csv',
                 index_col=0,
                 parse_dates=True)


df.describe().T

# Need to start on hour 0 for the indices of dfmax to have somewhere to go
first_row = df.iloc[0] # Get the first row data
new_index = df.index[0] - pd.Timedelta(hours=1) # Create new index one hour earlier
df.loc[new_index] = first_row # Add the new row to the dataframe
df.sort_index(inplace=True) # Sort index to put new row at the beginning

,count,mean,std,min,25%,50%,75%,max
Etot,35063.0,0.670141,0.685706,0.082,0.2140,0.331,1.0870,4.448
Ihor,35063.0,146.973168,292.392049,-0.370,-0.0330,0.000,97.4500,1201.000
Icoll,35063.0,130.300869,261.862440,-0.365,-0.0480,-0.005,81.5000,1135.000
Tamb,35063.0,11.085408,11.070709,-22.180,2.4105,11.130,19.2500,39.270
Rhamb,35063.0,0.502964,0.237435,0.043,0.2910,0.505,0.7130,0.963
WS,35063.0,0.000000,0.000000,0.000,0.0000,0.000,0.0000,0.000
TsolIn,35063.0,19.539671,3.840867,8.790,16.6300,19.060,22.7500,29.850
TsolOut,35063.0,20.803444,3.612101,10.430,18.1200,20.090,23.7800,31.160
Ttank,35063.0,23.862715,5.504609,11.740,19.4500,23.150,27.3700,44.750
Tliving,35063.0,22.170233,3.285340,12.020,19.8400,21.590,24.2800,34.770
TbrNW,35063.0,20.890089,3.786192,11.330,18.1100,19.910,23.8900,31.920
TbrSW,35063.0,20.667983,3.762890,11.140,17.9000,19.680,23.6900,31.610
Textra1,35063.0,20.322244,3.756093,10.240,17.5100,19.510,23.5000,30.600
Textra2,35063.0,18.198038,3.712892,12.220,14.7400,17.580,21.8900,25.730
Textra3,35063.0,22.237719,3.791366,12.930,19.3000,21.460,25.3500,39.660
Textra4,35063.0,21.289484,4.036648,11.730,18.1900,20.280,24.5900,32.950
Emsc1,35063.0,0.322267,0.501593,0.010,0.0630,0.089,0.1830,2.376
Emsc2,35063.0,0.280609,0.476098,0.022,0.0740,0.113,0.1830,3.166
Epv,35063.0,0.301394,0.693044,0.000,0.0000,0.000,0.0475,3.346
Elite,35063.0,0.030540,0.038582,0.000,0.0010,0.015,0.0460,0.308
Epump,35063.0,0.019245,0.026820,0.002,0.0080,0.008,0.0090,0.105
Ehtrs,35063.0,0.000381,0.014766,0.000,0.0000,0.000,0.0000,0.750
Ewatr,35063.0,0.009568,0.011078,0.003,0.0060,0.006,0.0070,0.092
Erang,35063.0,0.007531,0.053443,0.000,0.0000,0.000,0.0000,1.133
Eerv,35063.0,0.000000,0.000000,0.000,0.0000,0.000,0.0000,0.000
Extra,35063.0,0.000000,0.000000,0.000,0.0000,0.000,0.0000,0.000
GwtrH,35063.0,0.397998,1.817268,0.000,0.0000,0.000,0.0000,37.000
GspcH,35063.0,0.176283,1.546472,0.000,0.0000,0.000,0.0000,24.000
FhWtr,35063.0,0.745494,6.255270,0.000,0.0000,0.000,0.0000,212.000
FDTsol,35063.0,1.306962,11.934479,-0.648,0.0000,0.000,0.0000,472.600
Tlogger,35063.0,24.164976,3.547624,14.740,21.5600,23.340,26.9700,34.570
Vlogger,35063.0,13.066597,0.075289,12.720,13.0200,13.070,13.1200,13.290
Tref,35063.0,23.311462,3.586221,13.790,20.6700,22.500,26.1700,33.730

In [4]:
dfmax = df.resample('1d').max()
df.loc[dfmax.index,'EtotDailyPeak'] = dfmax.Etot.values

dfmaxhour = df.resample('1d').apply(lambda x: x['Etot'].idxmax().hour)
df.loc[dfmaxhour.index,'EtotDailyPeakHour'] = dfmaxhour.values

df = df.ffill()

df.EtotDailyPeakHour = df.EtotDailyPeakHour.astype(int)

df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 35064 entries, 2016-01-01 00:00:00 to 2019-12-31 23:00:00
Data columns (total 35 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Etot               35064 non-null  float64
 1   Ihor               35064 non-null  float64
 2   Icoll              35064 non-null  float64
 3   Tamb               35064 non-null  float64
 4   Rhamb              35064 non-null  float64
 5   WS                 35064 non-null  float64
 6   TsolIn             35064 non-null  float64
 7   TsolOut            35064 non-null  float64
 8   Ttank              35064 non-null  float64
 9   Tliving            35064 non-null  float64
 10  TbrNW              35064 non-null  float64
 11  TbrSW              35064 non-null  float64
 12  Textra1            35064 non-null  float64
 13  Textra2            35064 non-null  float64
 14  Textra3            35064 non-null  float64
 15  Textra4            35064 non-null  float64
 16  Emsc1              35064 non-null  float64
 17  Emsc2              35064 non-null  float64
 18  Epv                35064 non-null  float64
 19  Elite              35064 non-null  float64
 20  Epump              35064 non-null  float64
 21  Ehtrs              35064 non-null  float64
 22  Ewatr              35064 non-null  float64
 23  Erang              35064 non-null  float64
 24  Eerv               35064 non-null  float64
 25  Extra              35064 non-null  float64
 26  GwtrH              35064 non-null  float64
 27  GspcH              35064 non-null  float64
 28  FhWtr              35064 non-null  float64
 29  FDTsol             35064 non-null  float64
 30  Tlogger            35064 non-null  float64
 31  Vlogger            35064 non-null  float64
 32  Tref               35064 non-null  float64
 33  EtotDailyPeak      35064 non-null  float64
 34  EtotDailyPeakHour  35064 non-null  int32
dtypes: float64(34), int32(1)
memory usage: 10.5 MB

In [ ]:
# df.to_csv('data/input/HabitahZEH_60min_2016-2019_peaks.csv')