# Impianto 4

In [ ]:
import pandas as pd

df = pd.read_csv('data\input\Impianto_4_clean_emd.csv',
                 index_col=0,
                 parse_dates=True,
                 comment='#')

df.describe().T

In [4]:
dfmax = df.resample('1d').max()
df.loc[dfmax.index,'PotenzaDailyPeak'] = dfmax.Potenza.values

dfmaxhour = df.resample('1d').apply(lambda x: x['Potenza'].idxmax().hour)
df.loc[dfmaxhour.index,'PotenzaDailyPeakHour'] = dfmaxhour.values

df = df.ffill()

df.PotenzaDailyPeakHour = df.PotenzaDailyPeakHour.astype(int)

df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 105120 entries, 2017-01-01 00:00:00 to 2019-12-31 23:45:00
Data columns (total 16 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   Potenza               105120 non-null  float64
 1   Potenza25kW           105120 non-null  float64
 2   IMF1                  105120 non-null  float64
 3   IMF2                  105120 non-null  float64
 4   IMF3                  105120 non-null  float64
 5   IMF4                  105120 non-null  float64
 6   IMF5                  105120 non-null  float64
 7   IMF6                  105120 non-null  float64
 8   IMF7                  105120 non-null  float64
 9   IMF8                  105120 non-null  float64
 10  IMF9                  105120 non-null  float64
 11  IMF10                 105120 non-null  float64
 12  IMF11                 105120 non-null  float64
 13  IMF12                 105120 non-null  float64
 14  PotenzaDailyPeak      105120 non-null  float64
 15  PotenzaDailyPeakHour  105120 non-null  int32
dtypes: float64(15), int32(1)
memory usage: 17.3 MB

In [ ]:
#df.to_csv('data/input/Impianto_4_clean_emd_peaks.csv')

# ZEH

In [29]:
import pandas as pd

df = pd.read_csv('data/input/HabitatZEH_60min_2016-2019.csv',
                 index_col=0,
                 parse_dates=True)


df.describe().T

# Need to start on hour 0 for the indices of dfmax to have somewhere to go
first_row = df.iloc[0] # Get the first row data
new_index = df.index[0] - pd.Timedelta(hours=1) # Create new index one hour earlier
df.loc[new_index] = first_row # Add the new row to the dataframe
df.sort_index(inplace=True) # Sort index to put new row at the beginning

In [30]:
dfmax = df.resample('1d').max()
df.loc[dfmax.index,'EtotDailyPeak'] = dfmax.Etot.values

dfmaxhour = df.resample('1d').apply(lambda x: x['Etot'].idxmax().hour)
df.loc[dfmaxhour.index,'EtotDailyPeakHour'] = dfmaxhour.values

df = df.ffill()

df.EtotDailyPeakHour = df.EtotDailyPeakHour.astype(int)

df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 35064 entries, 2016-01-01 00:00:00 to 2019-12-31 23:00:00
Data columns (total 35 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Etot               35064 non-null  float64
 1   Ihor               35064 non-null  float64
 2   Icoll              35064 non-null  float64
 3   Tamb               35064 non-null  float64
 4   Rhamb              35064 non-null  float64
 5   WS                 35064 non-null  float64
 6   TsolIn             35064 non-null  float64
 7   TsolOut            35064 non-null  float64
 8   Ttank              35064 non-null  float64
 9   Tliving            35064 non-null  float64
 10  TbrNW              35064 non-null  float64
 11  TbrSW              35064 non-null  float64
 12  Textra1            35064 non-null  float64
 13  Textra2            35064 non-null  float64
 14  Textra3            35064 non-null  float64
 15  Textra4            35064 non-null  float64
 16  Emsc1              35064 non-null  float64
 17  Emsc2              35064 non-null  float64
 18  Epv                35064 non-null  float64
 19  Elite              35064 non-null  float64
 20  Epump              35064 non-null  float64
 21  Ehtrs              35064 non-null  float64
 22  Ewatr              35064 non-null  float64
 23  Erang              35064 non-null  float64
 24  Eerv               35064 non-null  float64
 25  Extra              35064 non-null  float64
 26  GwtrH              35064 non-null  float64
 27  GspcH              35064 non-null  float64
 28  FhWtr              35064 non-null  float64
 29  FDTsol             35064 non-null  float64
 30  Tlogger            35064 non-null  float64
 31  Vlogger            35064 non-null  float64
 32  Tref               35064 non-null  float64
 33  EtotDailyPeak      35064 non-null  float64
 34  EtotDailyPeakHour  35064 non-null  int64
dtypes: float64(34), int64(1)
memory usage: 10.6 MB

In [31]:
# df.to_csv('data/input/HabitahZEH_60min_2016-2019_peaks.csv')

In [32]:
dfp = df[['Etot','Tamb']].resample('1d').max() #.corr()['Etot'].sort_values()
dfp['TambForecast'] = dfp.Tamb.shift(1)
dfp['EtotPeakHour'] = df.resample('1d').apply(lambda x: x['Etot'].idxmax().hour)
dfp

             Etot   Tamb  TambForecast  EtotPeakHour
2016-01-01  1.946  4.464           NaN            21
2016-01-02  2.170  7.610         4.464            12
2016-01-03  1.797  9.550         7.610            21
2016-01-04  2.061  8.730         9.550            13
2016-01-05  1.822  8.890         8.730             8
...           ...    ...           ...           ...
2019-12-27  0.768  3.533         2.659            18
2019-12-28  0.563 -1.272         3.533             7
2019-12-29  0.537  0.425        -1.272            18
2019-12-30  0.472  3.589         0.425            22
2019-12-31  1.160  8.650         3.589            19

[1461 rows x 4 columns]

In [34]:
dfp = dfp.bfill()

In [ ]:
#dfp.to_csv('data/input/HabitahZEH_60min_2016-2019_peaks_1d.csv')