In [107]:
import pandas as pd
import emd

def emd_sift(df,col='Load (kW)'):
    imf = emd.sift.sift(df[col].values)

    for i in range(imf.shape[1]):
        df['IMF%s'%(i+1)] = imf[:,i]    

    return df

# Impianto 4

## EMD

In [108]:
# df = pd.read_csv('data\input\Impianto_4_clean.csv',
#                  index_col=0,
#                  parse_dates=True,
#                  comment='#')
# df = emd_sift(df,'Potenza')
# df #.to_csv('data/input/Impianto_4_clean_emd.csv')

## Peaks

In [109]:
df = pd.read_csv('data\input\Impianto_4_clean_emd.csv',
                 index_col=0,
                 parse_dates=True,
                 comment='#')
df.insert(1,'PotenzaDailyPeak',df.Potenza.resample('1d').max())
df.insert(2,'PotenzaDailyPeakHour',df.Potenza.resample('1d').apply(lambda x: x.idxmax().hour))
df = df.ffill()
df['PotenzaDailyPeakHour'] = df.PotenzaDailyPeakHour.astype(int)
df #.to_csv('data/input/Impianto_4_clean_emd_peaks.csv')

,Potenza,PotenzaDailyPeak,PotenzaDailyPeakHour,Potenza25kW,IMF1,IMF2,IMF3,IMF4,IMF5,IMF6,IMF7,IMF8,IMF9,IMF10,IMF11,IMF12
Time,,,,,,,,,,,,,,,,
2017-01-01 00:00:00,0.508003,0.577304,8,16.575005,-0.011734,0.002714,0.007235,0.003253,-0.002147,0.011390,-0.051246,0.009915,-0.031480,-0.004474,0.006247,0.568330
2017-01-01 00:15:00,0.531690,0.577304,8,17.347877,0.010750,0.003583,0.008303,0.001516,-0.000554,0.010564,-0.050981,0.009856,-0.031460,-0.004466,0.006249,0.568330
2017-01-01 00:30:00,0.520603,0.577304,8,16.986120,-0.001450,0.004414,0.009143,-0.000085,0.001062,0.009747,-0.050707,0.009797,-0.031439,-0.004457,0.006251,0.568330
2017-01-01 00:45:00,0.517303,0.577304,8,16.878460,-0.006132,0.005598,0.009712,-0.001532,0.002694,0.008937,-0.050427,0.009738,-0.031419,-0.004449,0.006253,0.568330
2017-01-01 01:00:00,0.529803,0.577304,8,17.286306,0.004228,0.007651,0.009971,-0.002805,0.004336,0.008136,-0.050139,0.009679,-0.031399,-0.004441,0.006255,0.568329
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-12-31 22:45:00,0.594082,0.700897,11,19.383564,0.003132,0.012865,-0.001473,-0.023190,-0.115106,0.177417,-0.066712,0.023636,0.041423,0.071408,0.001859,0.468823
2019-12-31 23:00:00,0.586945,0.700897,11,19.150717,-0.003773,0.011667,-0.000842,-0.023005,-0.114838,0.177209,-0.066579,0.023595,0.041422,0.071407,0.001857,0.468825
2019-12-31 23:15:00,0.595952,0.700897,11,19.444591,0.006502,0.009267,-0.000099,-0.022806,-0.114515,0.176986,-0.066447,0.023554,0.041421,0.071405,0.001856,0.468827
2019-12-31 23:30:00,0.577454,0.700897,11,18.841041,-0.010613,0.006713,0.000628,-0.022591,-0.114138,0.176749,-0.066315,0.023513,0.041420,0.071403,0.001855,0.468829
2019-12-31 23:45:00,0.576587,0.700897,11,18.812752,-0.011518,0.005649,0.001234,-0.022359,-0.113708,0.176496,-0.066183,0.023471,0.041420,0.071402,0.001853,0.468831

## EMD Peak Hour (1h)

In [110]:
df = pd.read_csv('data\input\Impianto_4_clean_emd.csv',
                 index_col=0,
                 parse_dates=True,
                 comment='#')
df = df[['Potenza']]
df = df.resample('1h').mean()
df #.describe().T

                      Potenza
Time
2017-01-01 00:00:00  0.519400
2017-01-01 01:00:00  0.526608
2017-01-01 02:00:00  0.508877
2017-01-01 03:00:00  0.524523
2017-01-01 04:00:00  0.525672
...                       ...
2019-12-31 19:00:00  0.596696
2019-12-31 20:00:00  0.575455
2019-12-31 21:00:00  0.580515
2019-12-31 22:00:00  0.594751
2019-12-31 23:00:00  0.584234

[26280 rows x 1 columns]

In [111]:
df.insert(1,'PotenzaDailyPeak',df.Potenza.resample('1d').max())
df.insert(2,'PotenzaDailyPeakHour',df.Potenza.resample('1d').apply(lambda x: x.idxmax().hour))
df = df.ffill()
df['PotenzaDailyPeakHour'] = df.PotenzaDailyPeakHour.astype(int)

In [112]:
df_imf = emd_sift(df.resample('1d').mean(),'PotenzaDailyPeakHour')
for imf in [x for x in df_imf.columns if 'IMF' in x]:
    df[imf+'PeakHour'] = df_imf[imf]
df = df.ffill()

In [113]:
df.corr().iloc[:,:3]

                       Potenza  PotenzaDailyPeak  PotenzaDailyPeakHour
Potenza               1.000000          0.778710              0.275922
PotenzaDailyPeak      0.778710          1.000000              0.106092
PotenzaDailyPeakHour  0.275922          0.106092              1.000000
IMF1PeakHour          0.182696          0.042642              0.833850
IMF2PeakHour          0.264045          0.167441              0.479218
IMF3PeakHour         -0.001601         -0.002223              0.181312
IMF4PeakHour          0.010583          0.007403              0.107945
IMF5PeakHour         -0.029088         -0.064409              0.106491
IMF6PeakHour         -0.063210         -0.102897              0.028883
IMF7PeakHour          0.065541          0.069976              0.036617

In [116]:
df #.to_csv('data/input/Impianto_4_clean_emd_peaks_1h.csv')

,Potenza,PotenzaDailyPeak,PotenzaDailyPeakHour,IMF1PeakHour,IMF2PeakHour,IMF3PeakHour,IMF4PeakHour,IMF5PeakHour,IMF6PeakHour,IMF7PeakHour
Time,,,,,,,,,,
2017-01-01 00:00:00,0.519400,0.560958,7,-1.793174,2.694392,0.199525,-2.670640,-1.250596,0.101771,9.718721
2017-01-01 01:00:00,0.526608,0.560958,7,-1.793174,2.694392,0.199525,-2.670640,-1.250596,0.101771,9.718721
2017-01-01 02:00:00,0.508877,0.560958,7,-1.793174,2.694392,0.199525,-2.670640,-1.250596,0.101771,9.718721
2017-01-01 03:00:00,0.524523,0.560958,7,-1.793174,2.694392,0.199525,-2.670640,-1.250596,0.101771,9.718721
2017-01-01 04:00:00,0.525672,0.560958,7,-1.793174,2.694392,0.199525,-2.670640,-1.250596,0.101771,9.718721
...,...,...,...,...,...,...,...,...,...,...
2019-12-31 19:00:00,0.596696,0.692924,11,2.931368,1.444232,-1.121527,-1.793942,-1.406025,-0.173037,11.118932
2019-12-31 20:00:00,0.575455,0.692924,11,2.931368,1.444232,-1.121527,-1.793942,-1.406025,-0.173037,11.118932
2019-12-31 21:00:00,0.580515,0.692924,11,2.931368,1.444232,-1.121527,-1.793942,-1.406025,-0.173037,11.118932
2019-12-31 22:00:00,0.594751,0.692924,11,2.931368,1.444232,-1.121527,-1.793942,-1.406025,-0.173037,11.118932
2019-12-31 23:00:00,0.584234,0.692924,11,2.931368,1.444232,-1.121527,-1.793942,-1.406025,-0.173037,11.118932

# ZEH

In [ ]:
df = pd.read_csv('data/input/HabitatZEH_60min_2016-2019.csv',
                 index_col=0,
                 parse_dates=True)


df.describe().T

# Need to start on hour 0 for the indices of dfmax to have somewhere to go
first_row = df.iloc[0] # Get the first row data
new_index = df.index[0] - pd.Timedelta(hours=1) # Create new index one hour earlier
df.loc[new_index] = first_row # Add the new row to the dataframe
df.sort_index(inplace=True) # Sort index to put new row at the beginning

,count,mean,std,min,25%,50%,75%,max
Etot,35063.0,0.670141,0.685706,0.082,0.2140,0.331,1.0870,4.448
Ihor,35063.0,146.973168,292.392049,-0.370,-0.0330,0.000,97.4500,1201.000
Icoll,35063.0,130.300869,261.862440,-0.365,-0.0480,-0.005,81.5000,1135.000
Tamb,35063.0,11.085408,11.070709,-22.180,2.4105,11.130,19.2500,39.270
Rhamb,35063.0,0.502964,0.237435,0.043,0.2910,0.505,0.7130,0.963
WS,35063.0,0.000000,0.000000,0.000,0.0000,0.000,0.0000,0.000
TsolIn,35063.0,19.539671,3.840867,8.790,16.6300,19.060,22.7500,29.850
TsolOut,35063.0,20.803444,3.612101,10.430,18.1200,20.090,23.7800,31.160
Ttank,35063.0,23.862715,5.504609,11.740,19.4500,23.150,27.3700,44.750
Tliving,35063.0,22.170233,3.285340,12.020,19.8400,21.590,24.2800,34.770
TbrNW,35063.0,20.890089,3.786192,11.330,18.1100,19.910,23.8900,31.920
TbrSW,35063.0,20.667983,3.762890,11.140,17.9000,19.680,23.6900,31.610
Textra1,35063.0,20.322244,3.756093,10.240,17.5100,19.510,23.5000,30.600
Textra2,35063.0,18.198038,3.712892,12.220,14.7400,17.580,21.8900,25.730
Textra3,35063.0,22.237719,3.791366,12.930,19.3000,21.460,25.3500,39.660
Textra4,35063.0,21.289484,4.036648,11.730,18.1900,20.280,24.5900,32.950
Emsc1,35063.0,0.322267,0.501593,0.010,0.0630,0.089,0.1830,2.376
Emsc2,35063.0,0.280609,0.476098,0.022,0.0740,0.113,0.1830,3.166
Epv,35063.0,0.301394,0.693044,0.000,0.0000,0.000,0.0475,3.346
Elite,35063.0,0.030540,0.038582,0.000,0.0010,0.015,0.0460,0.308
Epump,35063.0,0.019245,0.026820,0.002,0.0080,0.008,0.0090,0.105
Ehtrs,35063.0,0.000381,0.014766,0.000,0.0000,0.000,0.0000,0.750
Ewatr,35063.0,0.009568,0.011078,0.003,0.0060,0.006,0.0070,0.092
Erang,35063.0,0.007531,0.053443,0.000,0.0000,0.000,0.0000,1.133
Eerv,35063.0,0.000000,0.000000,0.000,0.0000,0.000,0.0000,0.000
Extra,35063.0,0.000000,0.000000,0.000,0.0000,0.000,0.0000,0.000
GwtrH,35063.0,0.397998,1.817268,0.000,0.0000,0.000,0.0000,37.000
GspcH,35063.0,0.176283,1.546472,0.000,0.0000,0.000,0.0000,24.000
FhWtr,35063.0,0.745494,6.255270,0.000,0.0000,0.000,0.0000,212.000
FDTsol,35063.0,1.306962,11.934479,-0.648,0.0000,0.000,0.0000,472.600
Tlogger,35063.0,24.164976,3.547624,14.740,21.5600,23.340,26.9700,34.570
Vlogger,35063.0,13.066597,0.075289,12.720,13.0200,13.070,13.1200,13.290
Tref,35063.0,23.311462,3.586221,13.790,20.6700,22.500,26.1700,33.730

In [4]:
dfmax = df.resample('1d').max()
df.loc[dfmax.index,'EtotDailyPeak'] = dfmax.Etot.values

dfmaxhour = df.resample('1d').apply(lambda x: x['Etot'].idxmax().hour)
df.loc[dfmaxhour.index,'EtotDailyPeakHour'] = dfmaxhour.values

df = df.ffill()

df.EtotDailyPeakHour = df.EtotDailyPeakHour.astype(int)

df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 35064 entries, 2016-01-01 00:00:00 to 2019-12-31 23:00:00
Data columns (total 35 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Etot               35064 non-null  float64
 1   Ihor               35064 non-null  float64
 2   Icoll              35064 non-null  float64
 3   Tamb               35064 non-null  float64
 4   Rhamb              35064 non-null  float64
 5   WS                 35064 non-null  float64
 6   TsolIn             35064 non-null  float64
 7   TsolOut            35064 non-null  float64
 8   Ttank              35064 non-null  float64
 9   Tliving            35064 non-null  float64
 10  TbrNW              35064 non-null  float64
 11  TbrSW              35064 non-null  float64
 12  Textra1            35064 non-null  float64
 13  Textra2            35064 non-null  float64
 14  Textra3            35064 non-null  float64
 15  Textra4            35064 non-null  float64
 16  Emsc1              35064 non-null  float64
 17  Emsc2              35064 non-null  float64
 18  Epv                35064 non-null  float64
 19  Elite              35064 non-null  float64
 20  Epump              35064 non-null  float64
 21  Ehtrs              35064 non-null  float64
 22  Ewatr              35064 non-null  float64
 23  Erang              35064 non-null  float64
 24  Eerv               35064 non-null  float64
 25  Extra              35064 non-null  float64
 26  GwtrH              35064 non-null  float64
 27  GspcH              35064 non-null  float64
 28  FhWtr              35064 non-null  float64
 29  FDTsol             35064 non-null  float64
 30  Tlogger            35064 non-null  float64
 31  Vlogger            35064 non-null  float64
 32  Tref               35064 non-null  float64
 33  EtotDailyPeak      35064 non-null  float64
 34  EtotDailyPeakHour  35064 non-null  int32
dtypes: float64(34), int32(1)
memory usage: 10.5 MB

In [ ]:
# df.to_csv('data/input/HabitahZEH_60min_2016-2019_peaks.csv')