# Hyper Parameter Search Analysis

In [2]:
import pandas as pd

In [5]:
df = pd.read_csv('data\output\impianto_4\peak\hp_search\hp_search_patience1.csv',
                 index_col=0)\
                 .sort_values('vloss')#,ascending=False)
df

    units  n_back  dropout     vloss  sec_elaps
23     48      48      0.2  0.000284        103
29     72     480      0.0  0.000288        253
8     192      72      0.0  0.000293        115
13    144     720      0.1  0.000299        528
9     288     144      0.1  0.000301        234
30    432     288      0.1  0.000305        554
5     384     672      0.0  0.000310        534
10    768     528      0.1  0.000312        792
14    336     432      0.1  0.000313        344
4     672     768      0.0  0.000313        797
31    384     576      0.1  0.000314        468
17    432     432      0.1  0.000315        302
2     336     480      0.2  0.000315        414
26     48      24      0.2  0.000319         84
1     768     336      0.2  0.000328        409
34    672      72      0.1  0.000329         86
24     96      24      0.1  0.000336         83
22    192     192      0.1  0.000336        158
32    288     528      0.2  0.000337        293
28    336     240      0.0  0.000339        163
6      48     528      0.0  0.000340        200
7     480      12      0.0  0.000341         64
11     12     720      0.2  0.000347        328
12    864     624      0.2  0.000349        548
33    528     336      0.0  0.000361        204
3     192     672      0.0  0.000364        357
20    432      48      0.1  0.000365         68
16    768     480      0.1  0.000367        549
21    864     432      0.2  0.000370        391
15    720      48      0.2  0.000382         66
27    192     240      0.2  0.000412         97
0      24     120      0.2  0.000414         67
19    576     384      0.0  0.000415        232
25    144     528      0.1  0.000423        174
18    120     192      0.2  0.000480         94

In [4]:
df.corr()['vloss'].to_frame()

              vloss
units      0.000808
n_back    -0.117686
dropout    0.238500
vloss      1.000000
sec_elaps -0.350915